.project
.projectile
.coverage
bin/
*.dat
*.tmp
*~
*.bak
*.eld
.venv*/
.tox/
docs/_build/
.pytest_cache/
__pycache__
src/socketsender.egg-info/
docs/modules.rst
docs/socketsender.rst
.mypy_cache/
build/
dist/
