.project
.projectile
bin/
*.dat
vglog.*
*.tmp
*~
*.bak
*.eld
.venv*/
.tox/
docs/_build/
.pytest_cache/
__pycache__
src/udpsender.egg-info/
docs/modules.rst
docs/udpsender.rst
.mypy_cache/
build/
dist/
