alabaster
appdirs
arrow
atomicwrites
attrs
Babel
binaryornot
black
certifi
chardet
click
cookiecutter
coverage
docutils
entrypoints
filelock
flake8
flake8-black
future
idna
imagesize
importlib-metadata
Jinja2
jinja2-time
MarkupSafe
mccabe
more-itertools
packaging
pluggy
poyo
py
pycodestyle
pyflakes
Pygments
pyparsing
pytest
pytest-cov
python-dateutil
pytz
requests
six
snowballstemmer
Sphinx
sphinxcontrib-websupport
toml
tox
urllib3
virtualenv
wcwidth
whichcraft
zipp
